{% extends "base.html" %}
{% block title %}Relatório por Usuário{% endblock %}

{% block content %}
<h1>Relatório por Usuário</h1>

<table>
    <tr>
        <th>Usuário</th>
        <th>Ação</th>
    </tr>

    {% for usuario in usuarios %}
    <tr>
        <td>{{ usuario.get_full_name }} ({{ usuario.username }})</td>
        <td>
            <a class="btn btn-primary"
               href="{% url 'relatorio_usuario_detalhe' usuario.id %}">
                Ver histórico
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
