{% extends "base.html" %}
{% block title %}Histórico do Usuário{% endblock %}

{% block content %}
<h1>Histórico de {{ usuario.get_full_name }}</h1>

<h2>Relatório do usuário {{ usuario.username }}</h2>

<a href="{% url 'relatorio_usuario_csv' usuario.id %}">
    📄 Exportar CSV
</a>

<a href="{% url 'relatorio_usuario_excel' usuario.id %}">
    📊 Exportar Excel
</a>


<table>
    <tr>
        <th>Equipamento</th>
        <th>Retirada</th>
        <th>Devolução</th>
        <th>Status</th>
    </tr>

    {% for uso in usos %}
    <tr>
        <td>{{ uso.equipamento.nome }}</td>
        <td>{{ uso.data_retirada }}</td>
        <td>
            {{ uso.data_devolucao|default:"—" }}
        </td>
        <td>
            {% if uso.data_devolucao %}
                <span class="status-disponivel">Devolvido</span>
            {% else %}
                <span class="status-uso">Em uso</span>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">Nenhum registro encontrado.</td>
    </tr>
    {% endfor %}
</table>

<br>
<a class="btn btn-secondary" href="{% url 'relatorio_por_usuario' %}">
    ⬅ Voltar
</a>
{% endblock %}
