{% extends "base.html" %}
{% block title %}Relatório por Usuário{% endblock %}

{% block content %}
<h1>Equipamentos por Usuário</h1>

<table>
    <tr>
        <th>Usuário</th>
        <th>Equipamento</th>
        <th>Retirado em</th>
    </tr>

    {% for uso in usos %}
    <tr>
        <td>{{ uso.usuario.username }}</td>
        <td>{{ uso.equipamento.nome }}</td>
        <td>{{ uso.data_retirada }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum registro.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
