{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sistema{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header class="topbar">
    <div class="logo">
        🧪 Sistema de Laboratório
    </div>

    <nav>
        <header class="topbar">
    <div class="logo">
        🧪 Sistema de Laboratório
    </div>

   
</header>

        <a href="{% url 'home' %}">🏠 Dashboard</a>
        <a href="{% url 'lista_equipamentos' %}">📋 Equipamentos</a>
        <a href="{% url 'meus_equipamentos' %}">🎒 Meus Equipamentos</a>
        <span style="margin-right: 15px;">
            👤 {{ user.first_name|default:user.username }}
        </span>

        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button class="logout-btn">Sair</button>
        </form>
    </nav>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>
